.navpage{
    background-color: red;
    width: 1100px;
    margin: auto;
    height: 90px;
}

.navpage a{
    color: white;
    text-decoration: none;
}
.top-nav{
    padding-top: 12px;
    text-align: right;
    color: white;
    font-weight: bold;
    font-size: x-small;

}

.top-nav div{
    display: inline;
    margin-left: 10px;
    
}

.login{
    margin-right: 15px;
}

.bottom-nav div{
    display: inline-block;
    vertical-align: middle;
}

.logo img{
    padding-left: 30px;
    height: 50px;
    margin-top: -18px;
    /* padding-bottom: 25px; */
  
}

.searchbox input{
    
    width: 360px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: darkred;
    outline: solid 1px white;
    padding-left: 15px;
    color: white;
    caret-color: white;
     
}

 .arti img{
   height: 50px;
   padding-left: 41px;
   /* padding-bottom: 20px; */
} 

.nav-bottom-text div{
    
    color: white;
    /* font-weight: bold; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:medium;
    /* padding-bottom: 20px; */
    padding-left: 24px;
    display: inline-block;
    padding-top: -5px;
}
.nav-bottom-text{
    text-align: right;
   
    
}

.trendingpage{
    /* display: flex; */
    background-color: grey;
    width: 1100px;
    margin: auto;
    height: 30px;

}
.trendingpage div{
    display: inline;
}

.trendinglabel{
    font-size:medium;
    padding-left: 10px;
    /* font-weight:1px; */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:gold;
    vertical-align: middle;
}

.trendinglinks {
    display: flex;
    padding-left: 30px;
    align-items: center;
    /* vertical-align: middle; */
}

.trendinglinks a{
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-size: small;
    /* align-items: center; */
    /* text-align: center; */
    
}

.socialmedia{
    padding-left: 200px;
    display: flex;
    vertical-align: middle;
    
    
}
.socialmedia svg{
    width: 16px;
    fill: white;
    margin-left: 5px;
    
}

.socialmedia a{
    text-decoration: none;
}

.newspage{
    width: 1100px;
    margin: auto;
}

.mainslider {
    position: relative;   
    flex: 2;              
    overflow: hidden;
}

.mainslider img {
    object-fit: cover;    
    display: block;       
}


.mainoverlay {
    position: absolute;   
    bottom: 0;            
    left: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9)); /* 黑色渐变 */
    color: white;
    box-sizing: border-box; 
    z-index: 2;
}

.mainoverlay h3 {
    font-family: Impact, sans-serif;
    font-size: 20px;
    font-weight: 1;
    margin: 0;
    border-left: 4px solid #FA320A; 
    padding-left: 15px;
}

.mainoverlay p {
    font-size: 14px;
    margin: 10px 0 0 19px; 
    max-width: 40%;
    font-family: Arial, sans-serif;
}

.subslider {
    position: relative;   
    flex: 1;              
    overflow: hidden;
}

.subslider img {
    object-fit: cover;    
    display: block;       
}

.suboverlay1 {
    position: absolute;   
    bottom: 0;            
    left: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9)); /* 黑色渐变 */
    color: white;
    box-sizing: border-box; 
    z-index: 2;
}

.suboverlay1 h3 {
    font-family: Impact, sans-serif;
    font-size: 20px;
    font-weight: 1;
    margin: 0;
    border-left: 4px solid #FA320A; 
    padding-left: 15px;
}

.suboverlay1 p {
    font-size: 14px;
    margin: 10px 0 0 19px; 
    max-width: 40%;
    font-family: Arial, sans-serif;
}
