
body{
    background-color: grey;
}

.enclosure{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    position: absolute;
    
}

#giraffeEnclosure{
    left: 20%;
    top: 20%;
}

#monkeyEnclosure{
    left: 40%;
    top: 80%;
}

#snakeEnclosure{
    left: 70%;
    top: 50%;
}

#fishEnclosure{
    left: 60%;
    top: 75%;
}

.monkey{
    position: absolute;
    left: 10px;
    top: 10px;
}

